body {
    background: url("./images/background.png");
}

.container {
    width: 80%;
    margin: 0 auto;
    background: white;
    border: 10px solid white;
}

.header {
    text-align: end;
    background: #A8F0F0;
}

.header h2 {
    font-size: 14pt;
}

.post {
    height: auto;
    overflow: auto;

    padding: 5px;
    margin-top: 10px;
    background: #E8FBFB;
    border: 4px solid #C2E9E9;
}

.post p img {
    float: right;
}

.post .post-date {
    border-bottom: 2px dashed #009097;
}

.content {
    display: flex;
}

.sidebar {
    background: #99E0E0;
    border: 4px solid #009097;
    padding: 10px;
    flex: 2;

    margin-right: 10px;
    height: 200px;
}

.posts {
    flex: 10;
}
