body {
    background: url("./images/background.png");
}

.container {
    width: 80%;
    margin: 0 auto;
    background: white;
    border: 5px solid green;
}

.header {
    text-align: end;
    border: 5px solid red;
}

.header h2 {
    border: 5px solid orange;
}

.post {
    height: auto;
    overflow: auto;

    padding: 5px;
    margin-top: 10px;
    background: #E8FBFB;
    border: 5px solid blue;
}

.post p img {
    float: right;
}

.post .post-date {
    border: 5px solid blueviolet;
}
